opencv_python==4.7.0.72
imutils==0.5.4
Django==4.2
twilio==9.6.5
torch==2.3.0
scipy==1.13.1
torchvision==0.18.0
insightface==0.7.3
onnxruntime==1.19.2 
protobuf==6.31.1
typing_extensions==4.14.1
flatbuffers==25.2.10
coloredlogs==15.0.1
onnx==1.18.0
scikit-image==0.24.0
albumentations==1.3.1 
cython==3.1.2
easydict==1.13
prettytable==3.16.0 
scikit-learn==1.6.1
qudida==0.0.4 
numpy==1.26.4
onnxruntime-gpu-1.19.2
torch==2.3.0+cu118 
torchvision==0.18.0+cu118 
torchaudio --index-url 
channels
daphne
